notebook/.idea/
notebook/.ipynb_checkpoints/
notebook/MINST/__pycache__/
notebook/MINST/.ipynb_checkpoints/
notebook/first_full/.ipynb_checkpoints/
notebook/try_gpu/.ipynb_checkpoints/
notebook/MINST/model/
notebook/lenet5_MINST/model/
notebook/lenet5_MINST/__pycache__/
notebook/vgg16/vgg16.npy
notebook/vgg16/vgg16.pyc
notebook/vgg16/__pycache__/
notebook/fundemental/.ipynb_checkpoints/
