notebook/.idea/
notebook/.ipynb_checkpoints/
notebook/MINST/__pycache__/
notebook/MINST/.ipynb_checkpoints/
notebook/first_full/.ipynb_checkpoints/
notebook/try_gpu/.ipynb_checkpoints/
notebook/MINST/model/